---
import BaseHead from "../components/BaseHead.astro";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
  };
}

const {
  content: { title, description, pubDate, updatedDate, heroImage },
} = Astro.props;
---

<html lang="fa" dir="rtl">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="bg-[#0F172A]">
    <header
      class="max-w-lg text-blue-100 md:max-w-xl lg:max-w-3xl mx-auto mt-8"
    >
      <nav>
        <a href="/">بازگشت به صفحه اصلی</a>
      </nav>
    </header>
    <main class="max-w-lg md:max-w-xl lg:max-w-3xl mx-auto mt-8">
      <article class="px-6 prose prose-invert text-[#CBD5E1] max-w-full">
        <h1>{title}</h1>
        <slot />
      </article>
    </main>
  </body>
</html>
